# Notebook for Scraping

In [1]:
from main import scrape_tweets

In [2]:
query = "yoasobi since:2022-11-15 until:2022-12-06"

In [5]:
df = scrape_tweets(query=query, num_of_tweet=500)
df

501it [00:22, 22.17it/s]

,Datetime,Tweet Id,Text,Username
0,2022-12-05 23:59:53+00:00,1599916500072402944,"‚Äúlagu yoru ni kakeru itu sedih tau, cuma beat ...",noturbey__
1,2022-12-05 23:59:20+00:00,1599916363598147586,apkh w kudu stan yoasobi,swerbyonline
2,2022-12-05 23:58:38+00:00,1599916186829213697,@04prn Â§ú„Å´Ë≤†„Åë„Çã/YOASOBI\n\n„Ç§„ÇØÁî∞„Çä„Çâ„ÅÆÂ§ú„Å´Ë≤†„Åë„ÇãËÅ¥„Åç„Åü„ÅÑ,vufferin_p_dx
3,2022-12-05 23:57:32+00:00,1599915910101598208,can't believe I'm not seeing yoasobi ughhhhggggh,pattsetsfire
4,2022-12-05 23:57:26+00:00,1599915884675756038,YOASOBI„Åï„Çì„ÅåÊ≠å„ÅÜOPÊõ≤„ÄéÁ•ùÁ¶è„Äè„Å£„Å¶„ÄÅ„ÅÑ„Å§„ÇÇ„Åù„ÅÜ„Å™„Çì„Å†„Åë„Å©„ÄåÁâ©Ë™û„ÅÆËÉåÊôØ„Å´Ââá„Åó„ÅüÊ≠åË©û„ÇíÊ≠å...,sin_skp2
...,...,...,...,...
496,2022-12-05 18:42:43+00:00,1599836684300189696,@convomf Yoasobi tracing that dream,kopi_dalgona
497,2022-12-05 18:42:19+00:00,1599836581573316608,FYP GUA FULL YOASOBI SAMPE DETIK INI ASUUUUU W...,Ahabil21
498,2022-12-05 18:41:42+00:00,1599836426534719491,@drizinhuu yoasobiü§†üç∑,gabrieorkjk
499,2022-12-05 18:41:10+00:00,1599836291482673152,Screaming n crying from Jakarta getting YOASOB...,mang0m0chi
500,2022-12-05 18:41:06+00:00,1599836274860650496,Ketika lu pertama kali melompat tangga\n\nModr...,raddixzz

In [6]:
df.tail()

,Datetime,Tweet Id,Text,Username
496,2022-12-05 18:42:43+00:00,1599836684300189696,@convomf Yoasobi tracing that dream,kopi_dalgona
497,2022-12-05 18:42:19+00:00,1599836581573316608,FYP GUA FULL YOASOBI SAMPE DETIK INI ASUUUUU W...,Ahabil21
498,2022-12-05 18:41:42+00:00,1599836426534719491,@drizinhuu yoasobiü§†üç∑,gabrieorkjk
499,2022-12-05 18:41:10+00:00,1599836291482673152,Screaming n crying from Jakarta getting YOASOB...,mang0m0chi
500,2022-12-05 18:41:06+00:00,1599836274860650496,Ketika lu pertama kali melompat tangga\n\nModr...,raddixzz